.link-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    gap: 60px;
    width: 100%;
}
.link-wrapper > div{
    background-color: white;
    border-radius: 20px;
    padding: 50px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.link-wrapper > div:active{
    transform: scale(0.8);
}
